/*Selector universal
El margen tendra valor de cero para el margen superior, inferior, izquierdo
derecho. El p*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway';
    text-decoration: none;
}

body{
    background-image: url(4.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.bienvenido{
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 100px;
    background: rgba(0,0,0,0.6);
    text-align: center;
    padding: 20px;
}

.bienvenido h1{
    font-size: 50px;
    color: white;
    font-weight: 100;
}

.bienvenido a{
    display: block;
    margin-top: 40px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid white;
}

.bienvenido a:hover{
    color: black;
    background: #898989;
}
